body{
    margin: 0px;
}  
h3{
    text-align: center;
    margin: 0px;
}
h1{
    text-align: center;
}
#header-nav{
    background-color: grey;
    height: 50px;
    margin: 0px;
}
.navbar-header{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
#chicken, #beef, #sushi{
    height: 240px;
    width: 100%;
}
.col-lg-3, .col-md-6, .col-md-11, .col-sm-12{
    background-color: gray;
    margin: 2px auto;
}